* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.page {
    width: 800px;
    margin: 0 auto;
}

.container {
    background-color: #D6E9FE;
    overflow: hidden;
}

h1 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 25px;
    font-family: 'Slabo 27px', serif;
}

.button {
    width: 250px;
    font-size: 25px;
    padding: 25px;
    margin: 10px;
    border-radius: 15px;
    background-color: #97caef;
}

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.kesem-pic {
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 20px;
}

p, li {
    font-size: 20px;
    /* font-family: 'Gentium Basic', serif; */

    margin: 10px 0 25px 0;
}

h2 {
    font-size: 40px;
    font-family: 'Noto Sans JP', sans-serif;
}

ul {
    list-style-type: square;
}

.bottom-of-page {
    margin-bottom: 50px;
}

.button:visited,
.button:link {
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: #7395ae;
    color: white;
}

.button:active {
    background-color: #97caef;
}